/code/*.txt
*.pyc
.Rproj.user
*.DS_Store
*.Rhistory
*.rda
/DJWLocal
*~$*
/calibration/**/*.o
/calibration/**/*.so
/calibration/**/__pycache__/*
/calibration/**/build/*
/calibration/**/*.html
/calibration/py_calibration_hier/pointcloud.c
/calibration/py_calibration_hier/physical_models_c.c
